- name: Create certificates key
  ansible.builtin.shell: |
    openssl genrsa -out {{ certs_path }}/{{ cert_name | default('server') }}.key {{ certs_bits | default('2048') }}
  args:
    creates: "{{ certs_path }}/{{ cert_name | default('server') }}.key"

- name: Create certificate signing request (CSR) configuration file
  ansible.builtin.template:
    src: templates/kube-csr.conf.j2
    dest: "{{ certs_path }}/{{ cert_name | default('server') }}-csr.conf"
    owner: root
    group: root
    mode: '0644'

- name: Create certificate signing request (CSR)
  ansible.builtin.shell: |
    openssl req -new -key {{ certs_path }}/{{ cert_name | default('server') }}.key \
    -out {{ certs_path }}/{{ cert_name | default('server') }}.csr \
    -config {{ certs_path }}/{{ cert_name | default('server') }}-csr.conf
  args:
    creates: "{{ certs_path }}/{{ cert_name | default('server') }}.csr"

- name: Sign certificate with CA
  ansible.builtin.shell: |
    openssl x509 -req -in {{ certs_path }}/{{ cert_name | default('server') }}.csr \
    -CA {{ certs_ca_crt }} -CAkey {{ certs_ca_key }} -CAcreateserial \
    -out {{ certs_path }}/{{ cert_name | default('server') }}.crt \
    -days {{ certs_expiracy_days | default(365) }} \
    -extensions v3_ext -extfile {{ certs_path }}/{{ cert_name | default('server') }}-csr.conf -sha256
  args:
    creates: "{{ certs_path }}/{{ cert_name | default('server') }}.crt"
