---
argument_specs:
  main:
    short_description: Main entry point for the certificate role
    description:
      - This role manages the creation of CA and node certificates using OpenSSL.
    author:
      - YukiCS
    options:
      certs_action:
        type: "str"
        required: true
        description: "What action to perform in the certificates role create a CA or node certificates"

      certs_path: 
        type: "str"
        required: true
        description: "Where to store the created certificates"
      
      certs_expiracy_days:
        type: "int"
        required: false
        default: 3650
        description: "Time in days before the created certificate expires"

      certs_cn:
        type: "str"
        required: true
        description: "Common Name (CN) for the certificate"

      certs_overwrite: 
        type: "bool"
        required: true
        description: "Whether to overwrite existing certificates"

      certs_dependencies_solved: 
        type: "bool"
        required: false
        description: "Whether to skip dependency checks and openssl installation"

      certs_pass:
        type: "str"
        required: false
        default: ''
        description: "Password for the certificate, if any"

      certs_type:
        type: "str"
        required: false
        default: 'rsa:4096'
        description: "Type of certificate to create, e.g., rsa:4096"
      
      certs_country: 
        type: "str"
        required: false
        default: ''
        description: "Country for the certificate"

      certs_state: 
        type: "str"
        required: false
        default: ''
        description: "State for the certificate"
      
      certs_city: 
        type: "str"
        required: false
        default: ''
        description: "City for the certificate"

      certs_org: 
        type: "str"
        required: false
        default: ''
        description: "Organization for the certificate"

      certs_org_unit:
        type: "str"
        required: false
        default: ''
        description: "Organization Unit for the certificate"

      certs_ca_crt:
        type: "str"
        required: false
        description: "Path to the CA certificate to sign the node certificate"
      
      certs_ca_key:
        type: "str"
        required: false
        description: "Path to the CA key to sign the node certificate"
      
      cert_name:
        type: "str"
        required: false
        description: "Name of the certificate to create"
      
      certs_csr_template:
        type: "str"
        required: false
        description: "Jinja2 template for the CSR configuration"
      
      certs_bits:
        type: "int"
        required: false
        default: 4096
        description: "Number of bits for the certificate key"

      cert_alt_names:
        type: "dict"
        required: false
        description: "Alternative names and IP for the certificate "
        options:
          dns:
            type: "list"
            elements: "str"
            required: false
            description: "List of DNS names for the certificate"
          ip:
            type: "list"
            elements: "str"
            required: false
            description: "List of IP addresses for the certificate"
